/* Global styles */
body, a, h1, h2, h3, h4, h5 {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin: 0;
}

/* Generic container */
.container {
  display: flex;
  position: relative;
  text-align: center;
  color: black;
  width: 75%;
  margin: auto;
  padding: 36px 0 0 0;
}

/* Centered text */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transform: translateY(50%);
}

.flexItem {
  display: flex;
  text-align: center;
  margin: auto;
}

/* Regular-sized buttons */
.btn {
  background-color: #01987a;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  width: auto;
}

/* Buttons with smaller font size */
.smallBtn {
  background-color: #01987a;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 20px 2px;
  opacity: 0.6;
  transition: 0.3s;
  width: auto;
}

/* Buttons at the top of tables */
.topBtn {
  background-color: #01987a;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 16px 2px;
  opacity: 0.6;
  transition: 0.3s;
  width: auto;
}

/* 100% opacity on button hover */
.btn:hover, .smallBtn:hover, .topBtn:hover {
  opacity: 1
}

/* Navbar styling */
.navbar {
  overflow: hidden;
  background-color: #01987a;
}

.navbar a {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  font-weight: bold;
  border: none;
  outline: none;
  color: white;
  padding: 14px 28px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Table styling */
.styled-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
  background-color: #32e6c286;
}


